[submodule "105-tainan-cluster"]
	path = 105-tainan-cluster
	url = https://github.com/lyshie/105-tainan-cluster
[submodule "pixel-font"]
	path = pixel-font
	url = https://github.com/lyshie/pixel-font
[submodule "chps-dokuwiki"]
	path = chps-dokuwiki
	url = https://github.com/lyshie/chps-dokuwiki
[submodule "google-tts-player"]
	path = google-tts-player
	url = https://github.com/lyshie/google-tts-player
[submodule "lyshie-education"]
	path = lyshie-education
	url = https://github.com/lyshie/lyshie-education
[submodule "PAIA-MLGame-Bots"]
	path = PAIA-MLGame-Bots
	url = https://github.com/lyshie/PAIA-MLGame-Bots
